[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
scrapy = "==1.5.0"
pytest = "*"
beautifulsoup4 = "*"
scrapy-querycleaner = "==1.0.0"
boto = "==2.45.0"
requests = "==2.12.4"
pyyaml = "*"

[requires]
python_version = "2.7"
